import archinstall

with archinstall.Installer("/mnt") as installation:
    installation.HOOKS = [
        "base",
        "udev",
        "autodetect",
        "keyboard",
        "modconf",
        "block",
        "encrypt",
        "lvm2",
        "filesystems",
        "fsck",
        "resume",
    ]
    if installation.minimal_installation():
        installation.set_hostname("{{ hostname }}")
        installation.set_locale("en_US.UTF-8")
        installation.set_timezone("America/Los_Angeles")
        installation.add_bootloader("systemd-bootctl")

        installation.add_additional_packages(
            ["lvm2", "networkmanager", "neovim", "git"]
        )

        installation.user_create("x", "{{ user_pass }}", groups=["wheel", "video"])
        installation.user_create("w", "{{ user_pass }}", groups=["wheel", "video"])
        installation.user_create("s", "{{ user_pass }}", groups=["wheel", "video"])
        installation.user_set_pw("root", "{{ user_pass }}")
